@media screen and (max-width : 1121px) {
    .hidden{
        display: none;
    }
}
@media screen and (max-width : 800px) {
    .home-article{
        flex-direction: column;
        text-align: center;
    }
}
@media screen and (max-width : 650px) {
    .home-artcle-content-img img{
        width: 50vw;
    }
}