/* .blog-content{
      
} */
.blog-img{

    overflow: hidden;
    margin-top: 15px;
}
.blog-img img{
    width: 100%;
}
.blog-content .heading{
    padding: 10px;
    background-color: rgb(250, 250, 238);
}
.blog-content .heading div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-content .heading svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.blog-content .heading h1{
    padding-bottom: 3px;
    text-align: center;
}
.blog-content .heading p{
    padding: 0px 15px;
    font-size: 14px;
    text-align: center;
    font-family: var(--font2);
}
.description{
    padding: 10px;
    background-color: rgb(250, 250, 238);
}
.description p{
    padding: 5px 0px;
    font-family: var(--font-1);
    font-size: 18px;
    
}