.contact_content{
    display: flex;
    height: 100vh;
    position: relative;
    flex-direction: column;
    padding: 10px;
}
.contact_content::after{
    content: "";
    position: absolute;
    background-image: url(../graphicImg/Article3/D_47.svg);
    width: 100%;
    opacity: 0.13;
    z-index: -1;
    height: 100%;
}
.contact-form{
    margin: 0px 60px;
}
.form-box input{
    width: 44vw;
    margin: 10px 0px;
}

.form-box textarea{
    width: 44vw;
    margin: 10px 0px;
}
.btnWidth{
    width: 15vw;
}