@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Roboto&display=swap');

:root{
    --min-bg-color: rgb(2, 25, 44);
    --font1: 'Baloo Bhaina 2', cursive;
    --font2: 'Roboto', sans-serif;
}
.font-1{
    font-family: var(--font1);
}
.font-2{
    font-family: var(--font2);
}
.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}
.m-auto{
    margin: auto;
}
.btn{
    padding: 8px 16px;
    font-size: 18px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    /* background-color: coral; */
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.btn:hover{
    color: white;
    background-color: var(--min-bg-color);

}
.form-input{
    padding: 8px 5px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0px 20px;
    font-family: var(--font2);
}
.my-2{
    margin-top: 32px;
    margin-bottom: 32px;
}
.center{
    text-align: center;
}