/* css Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Smooth Scrolling */
html{
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
}

/* Navigation Menu: */
.navigation{
    width: 100%;
    height: 90px;
    background-color: #fff;
    /* color: #fff; */
    display: flex;
    transition: all 0.5s ease-in-out;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 999;
}

.innerNav{
    display: flex;
}
/* Position Sticky : JavaScript */
.sticky{
    background: var(--min-bg-color);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
}

.navLogo{
    width : 20vw;
    /* background-color: yellow; */
    justify-content: start;
}
.navLogo a{
    text-decoration: none;
}
.navLogo h2{
    font-family: var(--font2);
    color: rgb(22, 21, 21);
    margin: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

.navLogo h2 span{
    color: var(--main-color);
}

.navigation .navItems{
    width : 60vw;
    /* background-color: red; */
    justify-content: right;
}

.navigation .navItems ul{
    display: flex;
    margin: 0;
}
.navigation .navItems ul li{
    list-style: none;
    padding: 0px 13px;
}
.navigation .navItems ul li a{
    text-decoration: none;
    color: #000;
    font-family: var(--font2);
    font-size: var(--mediumFont);
    position: relative;
    transition: all 0.3s ease-in-out;
}
.navigation .navItems ul li a:hover{
    color: var(--main-color);

}

.navigation .navButton{
    width: 15vw;
    /* background-color: blue; */
    justify-content: end;
}

hr {
    margin: 0;
}
/* Home Section */

.homeSection .homeInnerSection{
    display: flex;
    margin: 10vh 0px;

}

.homeContent{
    width: 50%;
    flex-direction: column;
    text-align: justify;
    /* padding-right: 100px; */
    /* background-color: aqua; */
}

.homeContent h2{
    font-size: 40px;
    font-family: var(--font1);
    font-weight: bold; 
}

.homeContent p{
    margin-top: 15px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5;
    font-family: var(--font2);
}

.homeImage{
    width : 50%;
    /* background-color: blue; */
    display: flex;
    justify-content: end;
}

.homeImage img{
    width: 90%;
    height: 500px;
    border-radius: 30px;
}

.homeButton{
    margin-top: 30px;
}

.homeButton .homeBtn{
    background-color: #7963e0;
    color: #fff;
    padding: 15px 50px;
}

/* Service Section */

.serviceSection{
    background-color: #00204a;
    /* height: 600px; */
}


.innerServiceSection{
    /* background-color: yellow; */
    /* padding: 10px 0px; */
}

.serviceHeading{
    /* background-color: red; */
    flex-direction: column;
    /* padding: 0px 0px 55px 0px; */
    margin: 30px 0;
}

.serviceHeading h4,h2{
    text-transform: uppercase;
}

.serviceHeading h4{
    color: var(--main-color);
    font-size: 1.1rem;
    margin: 0;
}

.serviceHeading h2{
    font-family: var(--font2);
    font-size: 1.6rem;
    margin: 10px 0 13px 0;
    font-weight: bold;  

}
.divH2{
    /* padding: 20px 0px; */
    color: #fff;
}

.divH2 h2{
    font-family: var(--font2);
    font-weight: bold;
}
.serviceHeading .line{
    width: 5%;
    height: 5px;
    /* margin-top: px; */
    border-radius: 10px;
    background-color: var(--main-color);
}

.serviceCardContainer{
    /* background-color: blue; */
    /* height: 800px; */
    /* flex-direction: column; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 0 30px 0;
}

.serviceCard{
    /* border: 1px solid white; */
    /* height: 65vh; */
    width: 360px;
    margin: 15px 0;
    flex-direction: column;
    background-color: #00285c;
    border-radius: 10px;
}

.cardInfo{
    width: 100%;
    /* background: yellow; */
    height: 100%;
    
}
.cardImage{
    width: 100%;
    height: 30vh;
    /* background-color: pink; */
}

.cardImage img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.cardTitle{
    padding: 20px 0 0 0;
    color: #00bbf0;
    font-family: var(--font2);
    /* background-color: aqua; */
}

.cardDescription{
    padding: 10px 15px;
    /* background-color: orange; */
    text-align: justify;
    color: #fff;
}

.cardDescription p{
    font-family: var(--font1);
    font-size: 20px;
}
.box{
    /* width: 25vw; */
    /* border: 1px solid red; */
    padding: 0 4px;
    /* border: 1px solid black; */
    margin: 0 10px;
    border-radius: 25px;
    background: #fff;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    transition: background-color 0.3s ease-in-out, color 0.3s;
    background-color: var(--main-color);
    color: #fff;
}


.innerBox{
    padding: 10px 0 10px 0;
}

.boxTitle{
    padding: 25px 0px;
}

.boxTitle p {
    font-size: 1.4rem;
    font-family: var(--font2);
}

.boxContent{
    padding: 10px;
}

.boxContent p {
    font-size: 1.2rem;
    font-family: var(--font1);
    text-align: justify;
}

.logo{
    padding-top: 15px;
}

.logo img{
    width: 35px;
    height: 35px;
}


.aboutSection{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
}

.aboutSection::before{
    content: "";
    background: url(../images/About/about_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom; /* Positioning the background image at the bottom */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}

.innerAboutSection{
    /* border: 1px solid black; */
    width: 100%;
    height: 500px;
    /* padding: 5px 70px; */
}

.aboutContentSection{
    width: 65%;
    /* border: 1px solid black; */
    margin-right: 3px;
    /* height: 100%; */
}

.aboutHeading{
    /* background-color: red; */
    /* height: 80px; */
    display: flex;
    align-items: end;
}

.aboutHeading h2{
    color: var(--main-color);
    font-size: 1.1rem;
}



.aboutDesingnationHeading{
    /* background-color: yellow; */
    height: 50px;
    display: flex;
    align-items: end;
    font-family: var(--font2);
    font-weight: bold;
}

.aboutText{
    /* background-color: blue; */
    /* height: 250px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 20px;
    font-size: 20px;
}

.aboutText p{
    font-family: var(--font1);
    text-align: justify;
}

.firstPara{
    /* padding-bottom: 20px; */
    margin: 1rem 0  ;
}

.aboutBtn{
    /* background-color: pink; */
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutBtn button{
    background-color: #7963e0;
    color: #fff;
    text-transform: uppercase;
    width: 80%;
    padding: 10px 20px;
}

.aboutImageSection{
    width: 32%;
    position: relative;
    /* border: 1px solid black; */
    /* height: 100%; */
}

.aboutName{
    position: absolute;
    height: 130px;
    bottom: 0;
    width: 100%;
    background: #7963e0;
    opacity: 0.7;
    border-radius: 0 0 30px 30px;
}

.aboutName p{
    font-size: 2rem;
    z-index: 1000;
    font-weight: bolder;
    color: #fff;
}

.aboutImageSection img{ 
    width: 100%;
    height: 400px;
    border-radius: 30px;
}


/* Contact Us */
.contactSection{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
}

.contactSection::before{
    content: "";
    background: url(../images/Contact/contact-bk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}


.innerContactSection{
    /* border: 1px solid white; */
    z-index: 10;
    height: 400px;
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    /* padding: 0 0 0 50px; */
}

.aboutTextSection{
    /* border: 1px solid white; */
    height: 100%;
    width: 50%;
    color: white;
    flex-direction: column;
}

.aboutTextSection .aboutTextHeading{
    width: 100%;
    /* background-color: pink; */
    font-family: var(--font2);
    font-weight: bold;
}   

.aboutTextDescription{
    width: 100%;
    /* background-color: aqua; */
    padding: 40px 0 20px 0;
}

.aboutTextContactDetails{
    width: 100%;
    /* background-color: burlywood; */
    line-height: 0.5;
}

.aboutFormSection{
    /* border: 1px solid white; */
    height: 100%;
    width: 50%;
    justify-content: end;
}

.aboutFormSection label{
    color: #7963e0;
    padding: 10px 0px;
}

.aboutFormSection form {
    color: #00FFAD;
}
.aboutFormSection form input,
.aboutFormSection form textarea {
    background: transparent;
    border: 1px solid #00FFAD;
    color: #ffffff;
}

.aboutFormSection form input:focus ,
.aboutFormSection form textarea:focus {
    background: transparent;
    color: #ffffff;
    border: 1px solid #00FFAD;
}

.submitBtn{
    border-radius: 10px;
    background: var(--main-color);
    color: #fff;
}


.copyrightSection{
    background: #192440;
    color: #fff;
    height: 100px;
}

.innerCopyrightSection{
    /* border: 1px solid white; */
    height: 100px;
    /* padding: 0 25px; */
    justify-content: space-between;
}

.copyrightText{
    /* border: 1px solid white; */
}
.socialLinks {
    /* border: 1px solid white; */
    color: #fff;
}

.socialLinks a{
    width: 40px;
    height: 40px;
    border-radius: 99%;
    background: #ffffff;
    transition: .4s ease;
}

.socialLinks a:hover{
    background: #7963e0;
}

.socialLinks a i:hover{
    color: #ffffff;
}
.socialLinks a i{
    color: #192440;
    font-size: 1.2rem;
    line-height: 40px;
}
